<table class="table table-striped table-hundred">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">Contract Type Name</th>
    <th scope="col">Role Id</th>
    <th scope="col">Role Name</th>
    <th scope="col">Role Description</th>
    <th scope="col">Hourly Salary</th>
    <th scope="col">Monthly Salary</th>
    <th scope="col">Annual Salary</th>
  </tr>
  </thead>
  <tbody *ngIf="!loading">
    <tr *ngFor="let employee of employees">
      <th scope="row">{{ employee.id }}</th>
      <td>{{employee.name}}</td>
      <td>{{employee.contractTypeName}}</td>
      <td>{{employee.roleId}}</td>
      <td>{{employee.roleName}}</td>
      <td>{{employee.roleDescription}}</td>
      <td>{{employee.hourlySalary | number}}</td>
      <td>{{employee.monthlySalary | number}}</td>
      <td>{{employee.annualSalary | number}}</td>
    </tr>
  </tbody>
</table>
<div *ngIf="loading" class="text-center">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>