<div class="container mt-5">
        <app-employee-button (onGetEmployees)="onGetEmployees()"></app-employee-button>
        <app-employee-field  (employeeId)="employeeId = $event"></app-employee-field>
        <app-employee-table  [employees]="employees" [loading]="loading"></app-employee-table>
</div>